---
import "./style/top-image.scss"
import TitleLeft from "./components/TitleLeft.astro"
import ImageRight from "./components/ImageRight.astro"
---
<div class="image-comp full-width fit-height-screen">
    <TitleLeft />
    <ImageRight />
</div>