---
import { Image } from "astro:assets";
import marilynProfileTransparentImage from "../../../images/marilyn-profile-transparent.png";
---
<div class="right-image">
    <Image class="image-profile" src={marilynProfileTransparentImage} alt="Fisioterapia Marilyn Alcácer." />
</div>