---
import ButtonCita from "../../button-cita/ButtonCita.astro";

---
<div class="left-title">
    <div class="text-comp">
        <h1 class="title upper-case">
            Recupera tu bienester con Marilyn Alcácer
        </h1>
        <p class="font-dark-500">Fisioterapia con énfasis en el trato personalizado en Suelo Pélvico, Respiratoria y Terapia del Dolor.</p>
        <ButtonCita />
    </div>
</div>