@import "./__variables.scss";

html,
body {
  overflow-x: clip;
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-main;
  margin: 0;
  background: $color-pink-light;
}
p {
  color: $color-black;
}
.title {
  color: $color-pink-dark;
  line-height: 1.5em;
}
.font-dark-500 {
  font-weight: 500;
}
.full-width {
  width: 100%;
}
.fit-height-screen {
  height: 100vh;
}
.upper-case {
  text-transform: uppercase;
}
