---
import "./style/servicios.scss"
import ListServicios from "./components/ListServicios.astro"
---

<div class="servicios-comp" id="servicios">
    <h1 class="title">Mis Servicios</h1>
    <ListServicios />
</div>