---
import "./style/blog-list.scss"
import FeaturedBlogs from "./components/FeaturedBlogs.astro"
import NewsList from "./components/NewsList.astro"
---
<div class="blogs-comp">
    <FeaturedBlogs />
    <NewsList />
</div>