---
import "./style/nav-bar.scss"
import MenuItems from "./menu-items/MenuItems.astro"
import MenuItemsMobile from "./menu-items/MenuItemsMobile.astro"
---
<nav class="nav-comp" id="navbar">
    <div class="left-comp">
        <a class="nav-links" href="/fisioterapia-marilyn-alcacer">
            <h3 class="logo upper-case">Fisio Marilyn</h3>
            <h3 class="logo-mob upper-case">MA</h3>
        </a>
    </div>
    <div class="right-comp">
        <MenuItems />
    </div>
    <div class="right-comp-mob">
        <MenuItemsMobile />
    </div>
</nav>

<script>
    import {setupNavScroll} from "./functionality/setupNavScroll"
    setupNavScroll("#navbar")
</script>