---
import "./style/footer.scss"
const CURR_YEAR = new Date().getFullYear()
---
<footer class="footer-comp full-width">
    <span class="upper-case font-dark-500">Marilyn Alcácer Ortiz {CURR_YEAR} ©</span>
</footer>