---
import "./style/menu-items.scss"
---
<a class="nav-links upper-case" href="/fisioterapia-marilyn-alcacer">Inicio</a>
<a class="nav-links upper-case" href="#sobre-mi">Conóceme</a>
<a class="nav-links upper-case" href="#servicios">Tratamientos</a>