---
import { Image } from "astro:assets";
import homeImageIcon from "../../../images/home-icon.png"
import profileImageIcon from "../../../images/marilyn-user-light-pink.png"
import physicalTherapistIcon from "../../../images/exercise-ball-light-pink.png"
---
<a href="/fisioterapia-marilyn-alcacer">
    <Image class="nav-icon" src={homeImageIcon} alt="Inicio Fisioterapia Marilyn Alcacer"/>
</a>
<a href="#sobre-mi">
    <Image class="nav-icon" src={profileImageIcon} alt="About Marilyn Alcacer fisio."/>
</a>
<a class="servicios-icon" href="#servicios">
    <Image class="nav-icon-sm" src={physicalTherapistIcon} alt="Servicios de Fisioterapia en Marilyn Alcacer."/>
</a>