---
interface Props {
    title: string,
    description: string
}

import Header from "../components/header/Header.astro"
import Footer from "../components/footer/Footer.astro"

const { title, description } = Astro.props
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <title>{title} | Marilyn Alcácer Fisioterapeuta</title>
        <link rel="icon" href="public/images/cardiogram.svg" type="image/svg+xml" />
    </head>
<body>
    <Header />
    <slot />
    <Footer />
</body>
</html>